@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap'); */

body{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    font-style: normal;
    font-weight: 500 ;
    font-display: swap;
    font-stretch: 75% 12%;
    src: url("../../fonts/Poppins.woff2");
    background-color: rgb(220, 225, 230);
}

@layer components{
    .main {
        @apply w-full h-full text-center items-center;
    }
    .cartDiv{
        @apply px-2 py-2  md:px-4 md:py-2 flex items-center justify-center relative gap-x-2 bg-blue-950 hover:bg-blue-900 text-slate-100 rounded-full ;
    }
    .btn{
        @apply flex items-center px-4 py-2 gap-x-2 bg-slate-200 text-black hover:bg-slate-100 duration-200 rounded-full;
    }
}

.footer p:hover{
    cursor: pointer;
    color: rgb(230, 68, 43);
    transition: all 0.5s;
    scale: 1.05;
}